/* style from here  */
/* font style is here */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Inter' !important;
}
/* nav bar from here importent bcz style auto generate from bootstrap */
.nav-link{
	font-style: normal;
	font-weight: 600 !important;
	font-size: 16px !important;
	line-height: 24px !important;
	/* identical to box height, or 150% */
	letter-spacing: -0.1px;
	color: #0D0A19 !important;
	margin-left: 20px;
}
/* nav right side sign up */
.signup {
	font-style: normal !important;
	font-weight: 600 !important;
	font-size: 14px !important;
	line-height: 21px !important;
	/* identical to box height, or 150% */
	letter-spacing: -0.1px !important;
	color: #9A9EA7 !important;
}
/* sign up icon bootstrap*/
.signup img{
	background-color: #F5F6F7;
	width: 30px;
	height: 25px;
	padding: 5px 8px;
	border-radius: 10px;
	margin-right: 5px;
}
/* header background image */
.section_image_header{
	background-image: url('../images/Landing/Rectangle.png');
	width: 100%;
	height: 560px;
	background-repeat: no-repeat;
	background-size: cover;
}
.section_image_header h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    text-align: center;
    letter-spacing: -0.304762px;
    padding-top: 100px;
    color: #FFFFFF;
}
.section_image_header h6{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	/* or 135% */
	text-align: center;
	color: #FFFFFF;
}
.top_sectiont{
	background: #FFFFFF;
	box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.15);
	border-radius: 8px;
	max-width: 945px;
	height: 80px;
	position: relative;
	margin-top: 194px !important;
	margin: 0px auto;
	bottom: -15px;
	left: 43%;
	z-index: 99;
	width: 98%;
	transform: translateX(-50%);
}
.form-select{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height, or 150% */
	letter-spacing: -0.1px;
	/* #0D0A19 / Primary */	
	border: none !important;
	margin-bottom: 30px;
	margin-top: -15px;
}
.top_sectiont p{
	font-style: normal;
	font-weight: 400 ;
	font-size: 12px ;
	line-height: 18px ;
	/* identical to box height, or 150% */
	letter-spacing: -0.1px;
	/* Greys / #9A9EA7 */
	color: #9A9EA7 !important;
	margin-left: 10px !important; 
	margin-top: 15px !important;
}
/* without p tag design in section area*/
.without_p select{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height, or 150% */
	letter-spacing: -0.1px;
	/* Greys / #9A9EA7 */
	color: #9A9EA7;
	margin-top: 35px !important;
}

.withp select{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height, or 150% */
	letter-spacing: -0.1px;
	color: #0D0A19;
}
/* search button */
.header_button{
	margin-top: 21px;
	background: #7963F0 !important;
	border-radius: 10px !important;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height, or 150% */

	letter-spacing: -0.1px;
	color: #fff !important;
}
.header_button img{
	padding: 10px 10px;
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
}

/* logo area 5 logo  */

.logo-area {
    margin-top: 112px;
    text-align: center;
    padding-top: 32px;
    
    width: 100%;  	
}

/*car section area style */
.action-car{
	margin-top: 70px;
}
.action-car .car-header h2{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 36px;
	/* identical to box height, or 129% */

	letter-spacing: -0.1px;

	color: #0D0A19;
}
.action-car .button-car-carosole{
	float: right;
	margin-top: -38px;
	margin-right: 37px;
}
.action-car .button-car-carosole button{
	margin-top: -14px;
	background: #F5F6F7;
	height: 46px;
	width: 45px;
	margin-left: 10px;
	font-family: 'Material Icons';
	
}
.action-car .button-car-carosole button img{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	/* identical to box height */

	text-align: center;

	/* Greys / #9A9EA7 */

	color: #9A9EA7;
}
.action-car .button-car-carosole p{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */

	text-align: right;

	color: #9A9EA7;
}
.action-car .header-part{
	margin-bottom: 60px;
}

.car-1 .images img{
	background: url(.png);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 8px;
}
.car-1 .images h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 18px;
    line-height: 27px !important;
    color: #0D0A19;
    margin-top: 12px;
}
.car-1 .images p{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height, or 150% */

	letter-spacing: -0.1px;

	color: #9A9EA7;
}
.car-1 .images p img{
	font-family: 'Inter';
	font-style: normal !important;
	font-weight: 700 !important;
	font-size: 22px !important; 
	line-height: 32px !important;
	/* identical to box height, or 145% */
	letter-spacing: -0.0916667px !important;
	color: #9A9EA7 !important;
}
.car-1 .images .seller-icon .left-1{
	border: 1px solid #E4E6E8;
    border-radius: 8px;
    margin-right: 12px;
    width: 55px;
    height: 54px;
}
.car-1 .images .seller-icon .left-1 img{
	border-radius: 8px;
    /* text-align: center; */
    /* top: 10px; */
    /* left: 10px !important; */
    margin-left: 15px;
    margin-top: 16px;
}
.car-1 .images .seller-icon .right-1 h4{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height, or 150% */
	letter-spacing: -0.1px;
	color: #0D0A19;
}
.car-1 .images .seller-icon .right-1 h5{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400; 
	font-size: 12px;
	line-height: 18px;
	/* identical to box height, or 150% */
	letter-spacing: -0.1px;
	color: #9A9EA7;
}
.car-1 .images .price-car .price-1 h6{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height, or 150% */
	letter-spacing: -0.1px;
	color: #0D0A19;
}
.car-1 .images .price-car {
	padding: 35px 0px;
}
.car-1 .images .price-car .price-1{
	margin-right: 24px;
}
.car-1 .images .price-car .price-1 p{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	/* identical to box height, or 150% */
	letter-spacing: -0.1px;
	color: #9A9EA7;
}
.car-1 .images .price-car .price-button {
    background: #7963F0;
    border-radius: 10px;
    height: 51px;
    width: 127px;
}
.car-1 .images .price-car .price-button button{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	letter-spacing: -0.1px;
	margin-left: 16px;
    margin-top: 6px;
	color: #FFFFFF;
}

.footer_area li{
	list-style: none;

}
.footer_area li a{
	text-decoration: none;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 33px;
	/* or 236% */

	letter-spacing: -0.1px;

	/* Greys / #9A9EA7 */

	color: #9A9EA7;
}
.footer_area{
	padding: 50px 0px;
}



.footer_area h2{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height, or 150% */

	letter-spacing: -0.1px;

	/* #0D0A19 / Primary */

	color: #0D0A19;
}